.flexbox {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.flexbox__wrapper {
  width: 80%;
  border: 2px solid coral;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.flexbox__item-1 {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  background-color: aqua;

  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}

.flexbox__item-2 {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  background-color: bisque;

  /* To skrócona wersja 3 ponizej właściwosci */
  flex: 1 1 0;

  /* To jeszcze bardziej skórcona wersja */
  flex: 1;

  /* domyślną wartość flex grow: to 0 */
  flex-grow: 0;
  /* domyślną wartość flex shrink: to 1 */
  flex-shrink: 1;
  /* flex-basis: ; */

  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}
