.main {
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    margin: 20px auto;
    padding: 20px 15px;
    /* dodałam tą obramówke bo się spoko patrzy nawet */
    border: 1px solid black;
    border-radius: 20px;
}

.header {
    margin-bottom: 30px;
}

.header__title {
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}