@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&display=swap');
* {
    font-family: 'Ubuntu';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

:root {
    --clr-text: #000000;
    --clr-text-secondary: #FFFFFF;
    --clr-btn-delete: #dd3131;
    --clr-btn-cancel: #383d44;
    --clr-btn-submit: #437463;
}